.card-header{
    background-color: lightskyblue;
    color: black;
    opacity: 1;
}
body {
    background-image: url("../images/PP_Cam01_\(Digital\).jpg")
}
.btn {
    background-color: lightskyblue;
}
.table {
    background-color:lightskyblue;
    color:black;
}

.jumbotron {
    background-color: transparent;
}

.display-4 {
    font-weight: 900;
}

.lead {
    font-weight: 900;
}

#time {
    font-weight: 900;
}